@use "sass:color";

$color: #c71585;
@debug color.adjust($color, $lightness: 15%, $space: hsl);
@debug color.adjust($color, $lightness: 15%, $space: oklch);
@debug color.scale($color, $lightness: 15%, $space: oklch);
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Tabulator
@import 'tabulator-tables/dist/css/tabulator.min.css';

// Стили для админки
.dashboard {
    .navbar {
        a {
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

.settings-sidebar {
    a {
        color: #212529;
    }
}
